h1 {
  display: flex-wrap;
}

a {
  display: flex;
  justify-content: center;
  border-width: 2px;
}

a:hover {
  color: blueviolet;
  border-color: blueviolet;

}

img {
  width: 50%;
  border: 1px solid;
}