header {
  border-bottom: 0.5rem solid;
}

nav {
  justify-content: space-between;
  flex-direction: row;
}
.navlinks {
  display: flex;
  align-items: center;
}

#navlinks {
  display: flex;
  justify-content: space-between;
}

#navlinks li {
  list-style-type: none;
}
/* @media (max-width: ) */